@media only screen and (min-width: 40rem) {
  header,
  main,
  footer {
    margin: 12px auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;

    .header-content {
      padding: 10px 0;
    }

    #menu-button {
      display: none;
    }

    #navigation {
      display: block;

      ul {
        display: flex;
      }

      a {
        border-top: none;
        padding: 16px;
      }
    }
  }

  #search-form {
    grid-template-columns: 1fr 150px 110px;
    align-items: end;

    label {
      position: absolute;
      width: 1px;
      height: 1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
    }
  }

  .result-options {
    grid-template-columns: repeat(3, 1fr);
  }

  #book-results,
  #library-results {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-actions {
    grid-template-columns: 1fr auto auto;
    align-items: center;
  }

  .library-actions {
    grid-template-columns: 1fr 1fr;
  }

  #book-details {
    grid-template-columns: 120px 1fr;
  }
}

@media only screen and (min-width: 66rem) {
  #book-results,
  #library-results {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 66rem) {
  #book-results,
  #library-results {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .book-actions {
    grid-template-columns: 1fr 1fr;

    select {
      grid-column: 1 / -1;
      width: 100%;
    }

    button {
      width: 100%;
    }
  }
}
